@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  .bg-links {
    background: hsl(0deg 0% 100% / 14%);
  }
  .custom_border {
    border-right: 1px solid rgb(38, 38, 38);
  }
  .sidebar-links {
    @apply cursor-pointer flex justify-center md:justify-normal hover:bg-links items-center gap-3 md:pl-3 py-3 sm:py-2.5 rounded-lg w-full;
  }
}
